
#app {
  display: inline-block;
  padding: 10px;
  font-size: x-large;
  background-color: lightgreen;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4DBDB;
}


